*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}


header{
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content: flex-end;
    height: inherit;
}
header nav .nav-rigth-section{
    width: 250px;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-rigth-section a{
    margin-right: 16px;
    color: #000;
}
nav .nav-rigth-section .menu-icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
nav .nav-rigth-section img{
    border-radius: 50%;
    margin-left: 12px;

}

main{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main-logo{
    width: 272px;
    height: 92px;
    margin-bottom: 32px;
}
main .main-logo .logo{
    width: 100%;
    height: 100%;
}

main .main-input{
    margin-bottom: 32px;
}
main .main-input .main-input-container{
    width: 580px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    align-items: center;
}
main .main-input .main-input-container:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border: #dfe1e500;
}
main .main-input .main-input-container input{
    width: 480px;
    height: 44px;
    padding: 10px;
    outline: none;
    border: none;
}
main .main-input .main-input-container .search-icon{
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
main .main-input .main-input-container .micro-icon{
    background-image: url('../multimedia/micro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

main .main-buttons{
    width: 580px;
}
main .main-buttons .main-buttons-container{
    text-align: center;
}
main .main-buttons button{
    height: 36px;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin: 0 8px;
}
main .main-buttons button:hover{
    color: #222;
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    cursor: pointer;
}

footer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul{
    padding: 14px;
    margin: 10px;
    display: flex;
    list-style-type: none;
}

footer .footer-rigth{
    justify-self: right;
}

footer ul li a{
    margin: 10px;
    color: #5f6368;
}
